<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
<link rel="stylesheet" href="/css/styles.css">   
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />
<title>Document</title>
</head>
<body>
    <header class="main-header">
     <div class="main-header-top-bar">
     <a href="/"><img class="logo_mercado" src="/img/logo-mercado-liebre.svg" alt="logo_mercadolibre" ></a>
       <div class="searcher"> 
        <input type="text" class="bar-searcher">
      <button><i class="fas fa-search" ></i></button>
      </div>
      <h2 class="Compra_cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h2>
    </div>
     <nav class="main-header-bottom-bar">
     <ul class="left-navbar">
        <li><a href="">Ofertas</a></li> 
        <li><a href="">Tiendas Oficiales</a></li> 
        <li><a href="">Vender</a></li> 
        <li><a href="">Ayuda</a></li> 
     </ul>
     <ul class="right-navbar">
        <li><a href="/login/registro">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
        <li><a href="/login">Ingresá<i class="fas fa-arrow-right"></i></a> </li>
        <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a> </li>
     </ul>
    </nav>
     <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
     <img class="bar_anuncio" src="/img/img-home-banner.jpg" alt="anuncio_mercadolibre" >
     
     
    <!--  <form action="" method="post" class="formulario-productos">
     <div class="control-formulario">
        <label for="name-producto">Nombre del producto:
           <input type="text" id="name-producto" name="nombre-producto" class="control"> 
        </label>
     </div>
     <div class="control-formulario">
        <label for="precio-producto">Precio:
           <input type="text" id="precio-producto" name="precio-producto" placeholder="Ej: $3210" class="control"> 
        </label>
     </div>
     <div class="control-formulario">
        <label for="categoria">Categoria</label>
        <select name="categoria-producto" id="categoria" class="control">
            <option value="hogar-cat1">Hogar</option>
            <option value="electro-cat2">Electro</option>
            <option value="indumentaria-cat3">Indumentaria</option>
        </select>
     </div>
     <div class="control-formulario">
        <label for="ciudad">Ciudad</label>
        <select name="ciudad" id="ciudad" class="control">
            <option value="BuenossAires-producto">Buenos Aires</option>
            <option value="RoSario-producto">Rosario</option>
            <option value="Mendoza-producto">Mendoza</option>
        </select>
     </div>
     <div class="control-formulario">
        <p>
        <label for="description">descripcion del producto</label>
        <textarea name="descripcion" id="description" class="control"></textarea>
        </p> 
     </div>
     <div class="control-formulario">
        <label for="radio-producto">Esta en oferta:
           <input type="radio" id="radio-producto" name="enOferta"> 
        </label>
     </div>
     <button type="submit" class="botton-formulario">Guardar</button>
     <button type="reset" class="botton-formulario">Borrar</button>
     </form> -->






    <main>
        <p class="Titulares">Basado en tu ultima visita</p>
        <section class="ultimas visitas">
            <div class="producto">
              <a class="enlace" href="">
                <img  src="/img/img-cafetera-moulinex.jpg" alt="cafetera_mercadolibre">
            
            <div class="diseño_producto">
             <i class="fas fa-truck"></i>       
           <p class="precio">$6.770</p>
         <p class="descuento">40% off</p>
         <p class="descripciones">Cafetera Moulinex</p>
        </div>
    </a>
    </div>
    <div class="producto">
        <a class="enlace" href="">

         <img src="/img/img-macbook-pro-2019.jpg" alt="macbook_mercadolibre" width="350px">
      <div class="diseño_producto">
        <i class="fas fa-truck"></i>       
          <p class="precio">$230.000</p>
         <p class="descuento">20% off</p>
         <p class="descripciones">MacBook Pro 2019</p>
        </div>
       </a>
    </div>
    <div class="producto">
        <a class="enlace" href="">

         <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung_Galaxy" width="350px">
         <div class="diseño_producto">
            <i class="fas fa-truck"></i>    
            <p class="precio">$70.500</p>  
               <p class="descuento">10% off</p>
         <p class="descripciones">Samsung Galaxy S10</p>
        </div>
    </a>
    </div>
        <div class="producto">  
        <a class="enlace" href="">

         <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTV_Samsung_43" width="350px">
         <div class="diseño_producto">
            <i class="fas fa-truck"></i> 
            <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
         <p class="descripciones">SmartTV Samsung 43"</p>
        </div>
    </a>
    </div>
        </section>
        <p class="Titulares">Ofertas</p>
        <section class="ofertas_mercadolibre">
     <div class="producto">
        <a class="enlace" href="">
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera_mercadolibre" width="350px">
            <div class="diseño_producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
     
                    <p class="descuento">40% off</p>
         <p class="descripciones">Cafetera Moulinex</p>
        </div>
    </a>
    </div>
    <div class="producto">
        <a class="enlace" href="">
         <img src="/img/img-macbook-pro-2019.jpg" alt="macbook_mercadolibre" width="350px">
         <div class="diseño_producto">
           
            <i class="fa-solid fa-truck"></i>         
        
            <p class="precio">$230.000</p>
         <p class="descuento">20% off</p>
         <p class="descripciones">MacBook Pro 2019</p>
        </div>
    </a>
    </div>
    <div class="producto">
        <a class="enlace" href="">

         <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung_Galaxy" width="350px">
         <div class="diseño_producto">
            <i class="fa-solid fa-truck"></i>        
             <p class="precio">$70.500</p>
         <p class="descuento">10% off</p>
         <p class="descripciones">Samsung Galaxy S10</p>
        </div>
    </a>
    </div>
    <div class="producto">
        <a class="enlace" href="">

         <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTV_Samsung_43" width="350px">
         <div class="diseño_producto">
            <i class="fas fa-truck"></i>           
                <p class="precio">$23.200</p>
         <p class="descuento">5% off</p>
         <p class="descripciones">SmartTV Samsung 43"</p> 
        </div>
    </a>
    </div>
        </section>
    </main>
    <footer>
        <section class="diseño_footer">
         <div class="footer_descripcion">
            <div class="diseño_logo_footer">
            <i class="fas fa-credit-card"></i> 
         </div>   
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="parrafo_footer">Con mercado Libre Cash,ténes cuotas sin interés con tarjeta o efectivo en
            puntos de pago.¡Y siempre es seguro!
        </p>
    </div>
    <div class="footer_descripcion">
        <div class="diseño_logo_footer">
            <i class="fas fa-gift"></i>         </div>   
        <h3>Envío gratis desde $2.500</h3>
        <p class="parrafo_footer">Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de 
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>
    <div class="footer_descripcion">
        <div class="diseño_logo_footer">
            <i class="fas fa-user-shield"></i> 
                </div>   
        <h3>Seguridad, de principio a fin</h3>
        <p class="parrafo_footer">¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, 
            porque estas siempre protegid@
        </p>
    </div>
        <p class="parrafo_footer">Copyright 1999-2020 MercadoLibre S.R.L.</p>
    </section>
    </footer>
</body>
</html>