<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
<link rel="stylesheet" href="/css/styles-login.css">   
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
           <img class="logo_mercado" src="/img/logo-mercado-liebre.svg" alt="logo_mercadolibre" >
          <div class="searcher"> 
           <input type="text" class="bar-searcher">
         <button><i class="fas fa-search" ></i></button>
         </div>
         <h2 class="Compra_cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h2>
       </div>
        <nav class="main-header-bottom-bar">
        <ul class="left-navbar">
           <li><a href="">Ofertas</a></li> 
           <li><a href="">Tiendas Oficiales</a></li> 
           <li><a href="">Vender</a></li> 
           <li><a href="">Ayuda</a></li> 
        </ul>
        <ul class="right-navbar">
           <li><a href="">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
           <li><a href="">Ingresá<i class="fas fa-arrow-right"></i></a> </li>
           <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a> </li>
        </ul>
       </nav>
       <div class="burger-menu"><i class="fas fa-bars"></i></div>
       </header>


    <form action="" method="post" class="formulario-login">
        <div class="informe">
         <label for="nombreUsuari@">Nombre de usuario
            <input type="text" class="informe-part"  name="nameUSER" id="nombreUsuario"  placeholder="Nombre de usuarío" minlength="4" required>
         </label>
        </div>
        <div class="informe">
            <label for="contraseña-login">Contraseña
                <input type="password" class="informe-part"  name="contraseña-login" id="contraseña-login" placeholder="Elegí tu contraseña" required>
            </label>
        </div>
        <button type="submit" class="botton-form">Enviar</button>
    </form>


    <footer>
        <section class="diseño_footer">
        
           <div class="footer_descripcion">
            <div class="diseño_logo_footer">
            <i class="fas fa-credit-card"></i> 
         </div>   
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="parrafo_footer">Con mercado Libre Cash,ténes cuotas sin interés con tarjeta o efectivo en
            puntos de pago.¡Y siempre es seguro!
        </p>
    </div> 
    <div class="footer_descripcion">
        <div class="diseño_logo_footer">
            <i class="fas fa-gift"></i>        
         </div>   
        <h3>Envío gratis desde $2.500</h3>
        <p class="parrafo_footer">Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de 
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div> 
    <div class="footer_descripcion" >
        <div class="diseño_logo_footer">
            <i class="fas fa-user-shield"></i>   
              </div>   
        <h3>Seguridad, de principio a fin</h3>
        <p class="parrafo_footer">¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, 
            porque estas siempre protegid@
        </p>
    </div> 
        <p class="parrafo_footer">Copyright 1999-2020 MercadoLibre S.R.L.</p>
    </section>
    </footer>
</body>
</html>